<table>
<tr><td>&nbsp;</td><td>Draft</td><td>Acquired</td><td>Total FP</td><td>Avg FP</td></tr>
{% for team_id in teams %}
{% set team = teams[team_id] %}
<tr><td colspan=5>{{ team.name }}</td></tr>
{% for player in team.roster %}
<tr><td>{{ player.name }}</td><td>$$</td><td>{{ player.acquired }}</td><td>{{ player.season_total }}</td><td>{{ player.season_avg }}</td></tr>
{% endfor %}
{% endfor %}
</table>