<table>
<tr><th style="text-align:center;">
<span style="color:#009900;">[Experimental] Estimated, projected keeper values (subject to change)</span>
</th></tr>
<tr><td><a href="https://docs.google.com/spreadsheets/d/1BYucUOA4g661z8izWGXD9Z5gA3n1otdcR_Q1uarBElA/edit#gid=1272337882">No, really, even after week 17, they're not final until they're officially final.</a></td></tr>
</table>
