<table>
<tr><th style="text-align:center;">
<span style="color:#009900;">Projected keeper values (subject to change)</span>
</th></tr>
<tr><td><a href="https://docs.google.com/spreadsheets/d/1BYucUOA4g661z8izWGXD9Z5gA3n1otdcR_Q1uarBElA/edit#gid=1272337882">Unofficial, projected, estimated keeper values.</a></td></tr>
</table>
