<img src="http://img707.imageshack.us/img707/8796/gwjfantasyfootballlogo.png">
<!--break-->
{% for league in sorted_leagues %}
<p><a href="http://www.fleaflicker.com/nfl/league?leagueId={{ league.id }}"><h2>{{ league.name }}</h2></a></p>
{% include 'standings.template' %}

{% include 'schedule.template' %}


&nbsp;

{% endfor %}
FOOTER