<div style="float:left;">
<strong>Early games:</strong>
<ul>
{% for m in nfl_data.matchups %}
<li>{{ nfl_data.first_date }}, {{ m.time }}: {{ m.teams }}</li>
{% endfor %}
</ul>
<strong>Byes:</strong> {{ nfl_data.byes }}
</div>
<div style="clear:both;">
<div style="text-align:right;">Source: {{ nfl_data.source }}</div>
</div>
<div style="clear:both;">&nbsp;</div>
